<p-card>
  <div class="flex">
    <div class="flex-1">
      <p class="font-bold">{{ product.name }}</p>
      <p class="mb-2">{{ product.producer }}</p>
      <p>
        @if (product.serving) {
          1 {{ mapServingUnitToGerman(product.serving.unit) }} ({{
            product.serving.baseUnitAmount
          }}
          {{ mapUnitToGerman(product.baseUnit) }})
        } @else {
          100 {{ mapUnitToGerman(product.baseUnit) }}
        }
      </p>
    </div>
    <div class="self-center flex">
      <p class="mr-4 self-center">
        {{
          Math.round(
            product.nutritionPerBaseUnit.energy *
              (product.serving ? product.serving.baseUnitAmount : 100)
          )
        }}
        kcal
      </p>
      <p-button
        severity="primary"
        rounded="true"
        size="small"
        (onClick)="onAdd.emit()"
      >
        <ng-template #icon>
          <span class="pi pi-plus"></span>
        </ng-template>
      </p-button>
    </div>
  </div>
</p-card>
