<p-card>
  <div class="flex">
    <div class="flex-1">
      <div>
        <span class="font-bold">{{ searchResult.productData.name }}</span>
        @if (searchResult.productData.producer) {
          <span class="font-light">
            &nbsp;- {{ searchResult.productData.producer }}
          </span>
        }
      </div>
      <p>
        {{ computedAmountFormatted }} {{ computedUnit }}
        @if (shouldShowServingSize) {
          ({{ searchResult.productData.serving!.baseUnitAmount }}
          {{ mapUnitToGerman(searchResult.productData.baseUnit) }})
        }
      </p>
      <div class="flex items-center mt-2">
        @if (searchResult.lastTrackedData) {
          <i
            class="pi pi-history !text-xs mr-2"
            style="color: var(--p-green-300)"
          ></i>
        }
        @if (!searchResult.productData.isExternal) {
          <p-tag value="Nutric" class="mr-2 product-card-tag"></p-tag>
        }
        @if (searchResult.productData.isCustomized) {
          <p-tag
            icon="pi pi-check"
            severity="info"
            value="Angepasst"
            class="product-card-tag"
          ></p-tag>
        }
      </div>
    </div>
    <div class="self-center flex">
      <p class="mr-4 self-center">
        {{ computedCalories }}
        kcal
      </p>
      <p-button
        severity="primary"
        rounded="true"
        size="small"
        (onClick)="onAdd.emit()"
      >
        <ng-template #icon>
          <span class="pi pi-plus"></span>
        </ng-template>
      </p-button>
    </div>
  </div>
</p-card>
