<div class="flex justify-between mt-1 px-4">
  <app-data-value
    [value]="Math.round(calories)"
    [unit]="'kcal'"
    [caption]="'Kalorien'"
  ></app-data-value>
  <app-data-value
    [value]="carbs.toFixed(1)"
    [unit]="'g'"
    [caption]="'Kohlenhydrate'"
  ></app-data-value>
  <app-data-value
    [value]="protein.toFixed(1)"
    [unit]="'g'"
    [caption]="'Proteine'"
  ></app-data-value>
  <app-data-value
    [value]="fat.toFixed(1)"
    [unit]="'g'"
    [caption]="'Fette'"
  ></app-data-value>
</div>
