<div class="flex justify-between mt-1 px-4">
  <app-data-value
    [value]="Math.round(product.nutritionPerBaseUnit.energy * amount)"
    [unit]="'kcal'"
    [caption]="'Kalorien'"
  ></app-data-value>
  <app-data-value
    [value]="(product.nutritionPerBaseUnit.carbs * amount).toFixed(1)"
    [unit]="'g'"
    [caption]="'Kohlenhydrate'"
  ></app-data-value>
  <app-data-value
    [value]="(product.nutritionPerBaseUnit.protein * amount).toFixed(1)"
    [unit]="'g'"
    [caption]="'Proteine'"
  ></app-data-value>
  <app-data-value
    [value]="(product.nutritionPerBaseUnit.fat * amount).toFixed(1)"
    [unit]="'g'"
    [caption]="'Fette'"
  ></app-data-value>
</div>
