<p-panel
  [header]="'Pro 100' + mapUnitToGerman(product.baseUnit)"
  [toggleable]="true"
>
  <ng-template #headericons let-collapsed>
    @if (collapsed) {
      <span class="pi pi-angle-right"></span>
    } @else {
      <span class="pi pi-angle-down"></span>
    }
  </ng-template>

  <app-nutrition-values
    [calories]="product.nutritionPerBaseUnit.energy * 100"
    [carbs]="product.nutritionPerBaseUnit.carbs * 100"
    [protein]="product.nutritionPerBaseUnit.protein * 100"
    [fat]="product.nutritionPerBaseUnit.fat * 100"
  >
  </app-nutrition-values>
</p-panel>
