@if (!mealType || !isValidDay) {
  <p-message severity="error" variant="outlined">
    Valid day and meal type are required as parameters!
  </p-message>
} @else {
  <div [formGroup]="trackFoodForm">
    <app-page-header
      [headerTitle]="mapMealTypeToGerman(mealType)"
      (onBack)="onBack()"
    ></app-page-header>

    <div class="flex justify-center mt-6">
      <div class="flex flex-col w-full">
        <p-inputgroup>
          <input
            type="text"
            pInputText
            formControlName="queryControl"
            placeholder="Essen suchen"
            class="w-full"
          />
          <!--          <p-inputgroup-addon>-->
          <!--            <p-button-->
          <!--              icon="pi pi-barcode"-->
          <!--              severity="secondary"-->
          <!--              (onClick)="onTriggerBarcodeScan()"-->
          <!--            ></p-button>-->
          <!--          </p-inputgroup-addon>-->
          <p-inputgroup-addon>
            <p-button
              icon="pi pi-times"
              severity="secondary"
              (onClick)="clearQuery()"
            ></p-button>
          </p-inputgroup-addon>
        </p-inputgroup>
        @if (shouldShowSearchHelper) {
          <small id="query-help" class="ml-1 mt-1">
            Bitte mindestens 3 Zeichen eingeben
          </small>
        }
      </div>
    </div>

    <div class="mt-6">
      @if (productSearchService.loading$()) {
        <div class="flex justify-center">
          <p-progress-spinner ariaLabel="loading" />
        </div>
      } @else if (productSearchService.error$()) {
        <p-message severity="error" variant="outlined">{{
          productSearchService.error$()
        }}</p-message>
      } @else {
        <div class="flex flex-col gap-2">
          @for (
            searchResult of productSearchService.searchResults$();
            track searchResult
          ) {
            <app-product-card
              [searchResult]="searchResult"
              (onAdd)="showTrackDialog(searchResult)"
            ></app-product-card>
          }
        </div>
      }
    </div>

    <app-track-dialog
      [(visible)]="trackDialogVisible"
      [product]="selectedProduct"
      [initialAmountSelection]="initialAmountSelection"
      (onTrackFood)="onTrackFood($event)"
    ></app-track-dialog>

    @if (showBarcodeScanner) {
      <zxing-scanner></zxing-scanner>
    }
  </div>
}
