<div [formGroup]="trackFoodForm">
  <app-page-header
    [headerTitle]="mealType?.toString()"
    (onBack)="onBack()"
  ></app-page-header>

  <div class="flex justify-center mt-6">
    <div class="flex flex-col w-full">
      <p-inputgroup>
        <input
          type="text"
          pInputText
          formControlName="queryControl"
          placeholder="Essen suchen"
          class="w-full"
        />
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-times"
            severity="secondary"
            (onClick)="clearQuery()"
          ></p-button>
        </p-inputgroup-addon>
      </p-inputgroup>
      @if (shouldShowSearchHelper) {
        <small id="query-help" class="ml-1 mt-1">
          Bitte mindestens 2 Zeichen eingeben
        </small>
      }
    </div>
  </div>

  <div class="mt-6">
    @if (productSearchService.loading$()) {
      <div class="flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
    } @else if (productSearchService.error$()) {
      <p-message severity="error" variant="outlined">{{
        productSearchService.error$()
      }}</p-message>
    } @else {
      <div class="flex flex-col gap-2">
        @for (product of productSearchService.products$(); track product) {
          <app-product-card [product]="product"></app-product-card>
        }
      </div>
    }
  </div>

  <div class="mt-6"></div>
</div>
