<div class="">
  <div class="flex items-center">
    <img src="/icon.svg" alt="Logo" class="w-16 logo" />
    <span class="text-3xl font-bold ml-3"> Nutric </span>
  </div>

  @if (dayService.day$(); as day) {
    <div class="mt-6 relative">
      <app-progress-bar
        [value]="totalUsedCalories"
        [max]="day.calorieGoal"
        [unit]="'kcal'"
        [height]="'2.5rem'"
        [showValue]="false"
        [changeColorOnExceed]="true"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <p-tag severity="contrast" [rounded]="true">
          {{ caloriesLeftFormatted }}
        </p-tag>
      </div>
    </div>
    <p class="mt-2 flex gap-1 items-center">
      <i class="pi pi-info-circle" style="font-size: 1.1rem"></i>
      <span class="text-sm">
        {{ totalUsedCalories.toFixed(0) }} gegessen von
        {{ day.calorieGoal.toFixed(0) }}
      </span>
    </p>

    <div class="mt-4 flex justify-around">
      <div class="w-1/3 p-2">
        Kohlenhydrate:
        <app-progress-bar
          [value]="totalUsedCarbs"
          [max]="day.carbLimitGrams"
          [unit]="'g'"
        />
      </div>
      <div class="w-1/3 p-2">
        Protein:
        <app-progress-bar
          [value]="totalUsedProtein"
          [max]="day.proteinLimitGrams"
          [unit]="'g'"
        />
      </div>
      <div class="w-1/3 p-2">
        Fett:
        <app-progress-bar
          [value]="totalUsedFat"
          [max]="day.fatLimitGrams"
          [unit]="'g'"
        />
      </div>
    </div>

    <div class="mt-4 flex flex-col gap-2">
      @for (mealType of mealTypes; track mealType) {
        <app-meal-card
          [mealName]="mapMealTypeToGerman(mealType)"
          [trackingEntries]="getTrackingEntriesForMealType(mealType)"
          (onAdd)="onAddFood(mealType)"
          (onDeleteEntry)="onDeleteTrackingEntry($event)"
          (onUpdateEntry)="onUpdateTrackingEntry($event)"
        />
      }
    </div>
  }
</div>
