<p-panel
  [style]="{ 'body.padding': '16rem' }"
  [toggleable]="true"
  [collapsed]="collapsed"
  toggler="header"
  iconPos="center"
>
  <ng-template #header>
    <div class="mt-2">
      <div class="text-xl font-bold">
        {{ mealName }}
      </div>
      <p class="mt-2 mb-2 text-sm">{{ totalUsedCalories.toFixed(0) }} kcal</p>
    </div>
  </ng-template>
  <ng-template #icons>
    <p-button
      severity="primary"
      rounded="true"
      size="small"
      class="mr-1"
      (onClick)="onAdd.emit()"
    >
      <ng-template #icon>
        <span class="pi pi-plus"></span>
      </ng-template>
    </p-button>
  </ng-template>
  <ng-template #headericons let-collapsed>
    @if (collapsed) {
      <span class="pi pi-angle-right"></span>
    } @else {
      <span class="pi pi-angle-down"></span>
    }
  </ng-template>
  <ng-template #content>
    <div class="flex flex-col">
      <p-divider />
      @if (trackingEntries.length == 0) {
        <p class="text-sm">Noch keine Einträge</p>
      } @else {
        <app-nutrition-values
          [calories]="totalUsedCalories"
          [carbs]="totalUsedCarbs"
          [protein]="totalUsedProtein"
          [fat]="totalUsedFat"
        >
        </app-nutrition-values>
        <p-divider></p-divider>
        <div class="flex flex-col gap-4">
          @for (entry of trackingEntries; track entry) {
            <app-tracking-entry
              [entry]="entry"
              (onClick)="onEntryClick(entry)"
            ></app-tracking-entry>
          }
          <app-track-dialog
            [(visible)]="editDialogVisible"
            [product]="selectedEntry?.product ?? null"
            [initialAmountSelection]="initialAmountSelection"
            [showDeleteButton]="true"
            (onDelete)="onDelete()"
            (onTrackFood)="onUpdate($event)"
            confirmButtonCaption="Speichern"
          ></app-track-dialog>
        </div>
      }
    </div>
  </ng-template>
</p-panel>
