<p-panel
  [style]="{ 'body.padding': '16rem' }"
  [toggleable]="true"
  [collapsed]="true"
  iconPos="center"
>
  <ng-template #header>
    <div class="mt-2">
      <div class="text-xl font-bold">
        {{ mealName }}
      </div>
      <p class="mt-2 mb-2 text-sm">{{ calories }} kcal</p>
    </div>
  </ng-template>
  <ng-template #icons>
    <p-button
      severity="primary"
      rounded="true"
      size="small"
      class="mr-1"
      (onClick)="onAdd.emit()"
    >
      <ng-template #icon>
        <span class="pi pi-plus"></span>
      </ng-template>
    </p-button>
  </ng-template>
  <ng-template #headericons let-collapsed>
    @if (collapsed) {
      <span class="pi pi-angle-right"></span>
    } @else {
      <span class="pi pi-angle-down"></span>
    }
  </ng-template>
  <ng-template #content>
    <div class="flex flex-col">
      <p-divider />
      Some content here
    </div>
  </ng-template>
</p-panel>
