<p-panel [header]="'Tracken'" [formGroup]="amountForm">
  <app-nutrition-values
    [calories]="product.nutritionPerBaseUnit.energy * calculatedAmount"
    [carbs]="product.nutritionPerBaseUnit.carbs * calculatedAmount"
    [protein]="product.nutritionPerBaseUnit.protein * calculatedAmount"
    [fat]="product.nutritionPerBaseUnit.fat * calculatedAmount"
  ></app-nutrition-values>

  <div class="flex mt-6">
    <input
      pInputText
      formControlName="amount"
      (keydown)="validateNumberInput($event)"
      pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
      class="amount-input max-w-24 sm:max-w-32 sm:w-full"
    />

    <div class="w-full ml-1">
      <p-floatlabel variant="on">
        <p-select
          [options]="trackingSelectionOptions"
          [overlayOptions]="{ baseZIndex: 5000 }"
          (onChange)="onTrackedUnitChange($event)"
          formControlName="trackingUnit"
          optionLabel="displayValue"
          inputId="trackedUnit"
          id="trackedUnit"
          appendTo="body"
          [style]="{ width: '100%' }"
        >
        </p-select>
        <label for="trackedUnit">Einheit</label>
      </p-floatlabel>
    </div>
  </div>
</p-panel>
